Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Answers.

In [17]:
string = "Kanchan"

list = [23, 56, 'kanchan', "Apple", 45+89j ]

float = 12.797878

tuple = (34, 67, "Data", 'cheery', 2.45)

print(type(string))
print(type(list))
print(type(float))
print(type(tuple))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

Answers

(i)    string
(ii)   string
(iii)  list
(iv)   float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Answers

In [45]:
# (i) Division operator or Float Division (/)- This will divide and provide the result in floating value.
# example
x = 5
y = 2
print(x / y)

# (ii) Modulus Operator (%)- This will provide the remainder after the calculation(division)
# example
a = 7
b = 2
print(a%b)

# (iii) Floor Division Operator or Integer Division (//)- This will divide and truncate the decimal and provide the integer value.
# example
a = 134
b = 24
print(a//b)

# (iv) 	Exponentiation Operator (**)- This will help us to calculate a power b and return the resukt 
# exapmle
a = 8
b = 9
print(a**b)

2.5
1
5
134217728

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Answer

In [91]:
l = [ 21, 54.2, 'Kanchan', True, 2+8j, "Banana", False, 8.1212, 'How are you', 100]
for i in l:
    print(i,type(i))

21 <class 'int'>
54.2 <class 'float'>
Kanchan <class 'str'>
True <class 'bool'>
(2+8j) <class 'complex'>
Banana <class 'str'>
False <class 'bool'>
8.1212 <class 'float'>
How are you <class 'str'>
100 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Answers

In [ ]:
A = int(input('enter the value of A'))
B = int(input('enter the value of B'))

x = 0

while A % B == 0 :
    A= A//B
    x = x + 1

if x>0 :
    print('{A} is divisible by {B}')
    print('{A} can be divided by {B}', x,'times')
    
else:
    print('{A} is not divisible by {B}')

enter the value of A 125

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Answers

In [26]:
list = [22,24,13,88,32,33,15,76,89,91,99,56,77,36,27,29,20,30,140,137,189,120,380,4500,2637]

for l in list:
    if l % 3 == 0:
         print(l,"is divisible by 3")
    else:
        print(l,"is not divisible by 3")

22 is not divisible by 3
24 is divisible by 3
13 is not divisible by 3
88 is not divisible by 3
32 is not divisible by 3
33 is divisible by 3
15 is divisible by 3
76 is not divisible by 3
89 is not divisible by 3
91 is not divisible by 3
99 is divisible by 3
56 is not divisible by 3
77 is not divisible by 3
36 is divisible by 3
27 is divisible by 3
29 is not divisible by 3
20 is not divisible by 3
30 is divisible by 3
140 is not divisible by 3
137 is not divisible by 3
189 is divisible by 3
120 is divisible by 3
380 is not divisible by 3
4500 is divisible by 3
2637 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [39]:
#Answer
"""
MUTABLE :- 
An object is considered mutable if its value can be changed after it has been created.
It can be modified either in terms of state or contents after they have been created. 
The mutable objects that are present in python are lists, dictionaries and sets. 
Since lists, sets & dictionaries are mutable, we can add, delete & modify its contents

IMMUTABLE :- 
An object is considered immutable if its value cannot be changed after it has been created.It cannot be modified once they are created.
The immutable objects that are present in python are  strings, tuples, and numbers.
Since integers, float, strings, tuples are immutable, internal state (data) can not be changed.
"""
#List examples
my_list = [11,45,"Kanchan",2.45,'I am fine']

print(my_list)

[11, 45, 'Kanchan', 2.45, 'I am fine']

In [40]:
my_list.append(100)
print(my_list)

[11, 45, 'Kanchan', 2.45, 'I am fine', 100]

In [47]:
#string example
k = 'Kanchan'
print(k)

Kanchan

In [48]:
K = k +' Kanhere'
print(K)

Kanchan Kanhere